<%= render partial: 'merchants/partials/navbar', locals: { merchant: @merchant }%>
<table class='table'>
  <thead>
    <tr>
      <th>Invoice #</th>
      <th>Status</th>
      <th>Creation Date</th>
      <th>Total Revenue</th>
      <th>Discounted Revenue</th>
      <th>Customer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @invoice.id%></td>
      <td><%= @invoice.status%></td>
      <td><%= @invoice.created_at.strftime("%A, %B %-d, %Y")%></td>
      <td>$<%= @invoice.total_revenue%></td>
      <td>$<%= @invoice.discounted_revenue%></td>
      <td><%= @customer.first_name %> <%= @customer.last_name %></td>
    </tr>
  </tbody>
</table>
<br/>
<br/>
<h4>Items on this Invoice:</h4>
<table class="table">
  <thead>
    <tr class="tr">
      <th class="th1">Item Name</th>
      <th class="th1">Quantity</th>
      <th class="th1">Unit Price</th>
      <th class="th1">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @invoice.invoice_items.each do |i| %>
      <tr class='text-center' id="the-status-<%= i.id %>">
        <td><%= i.item.name %></td>
        <td><%= i.quantity %></td>
        <td>$<%= i.unit_price / 100 %></td>
        <td>
          <%= form_with model: @invoice, url: merchant_invoice_path(@merchant, @invoice), method: :patch do |f| %>
            <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
            <%= f.submit 'Update Invoice', class:'btn btn-primary btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>