<%= render partial: 'merchants/partials/navbar', locals: { merchant: @merchant }%>

<div class='row'>
  <div class='col'>
    <h4 class='text-center'>Bulk Discounts</h4>
    <%= link_to 'Add new Discount', new_merchant_bulk_discount_path(@merchant), class:'btn btn-success btn-sm'%>
    <table class='table text-center' id='discount-list'>
      <thead>
        <tr>
          <th>#</th>
          <th>Discount Percent (%)</th>
          <th>Min Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @merchant.bulk_discounts.each_with_index do |discount, index| %>
        <tr id='discount-<%= discount.id%>'>
          <td><%= (index + 1)%>.</td>
          <td><%= discount.percentage_discount%>%</td>
          <td><%= discount.quantity_threshold%></td>
          <td><%= link_to 'View Discount', merchant_bulk_discount_path(@merchant, discount), class:'btn btn-light'%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class='col text-center'>
    <h4>Upcoming Holidays</h4>
    <div id='upcoming-holidays'>
      <% @upcoming_holidays.each_with_index do |holiday, index| %>
        <div class='row' id="holiday-<%= (index + 1)%>">
          <div class='col'><%= holiday['localName']%> </div>
        </div>
      <% end %>
    </div>
  </div>
</div>