<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand"><%= @merchant.name %></span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right', class:'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Items', merchant_items_path(@merchant), style: 'pull-right', class:'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Invoices', merchant_invoices_path(@merchant), style: 'pull-right', class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class='col'>
    <h3 class='text-center'>My Items</h3>
  </div>
</div>
  
<div class="row">
  <div class='col'>

    <%= link_to "Create New Item", new_merchant_item_path(@merchant), class:'btn btn-primary' %>

    <h3>Enabled Items</h3>

    <table class='table' id='enabled'>
      <tbody>
        <% @enabled_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></td>
            <td><%= link_to "Disable", merchant_item_status_path(@merchant, item, status: :disabled), method: :patch, class:'badge badge-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>Disabled Items</h3>

    <table class='table' id='disabled'>
      <tbody>
        <% @disabled_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></td>
            <td><%= link_to "Enable", merchant_item_status_path(@merchant, item, status: :enabled), method: :patch, class:'badge badge-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='col'>
    <h3>Top Items</h3>
    <table class='table' id='top_5'>
      <tbody>
        <% @merchant.top_5_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) , class:'btn btn-link' %></td>
            <td>$<%= item.total_revenue %> in sales. Top selling date: <%= item.best_day %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
