<%= render partial: 'merchants/partials/navbar', locals: { merchant: @merchant }%>

<div class="row">
  <div class='col'>
    <h3 class='text-center'>My Items</h3>
  </div>
</div>
  
<div class="row">
  <div class='col'>

    <%= link_to "Create New Item", new_merchant_item_path(@merchant), class:'btn btn-primary btn-sm' %>

    <h3>Enabled Items</h3>

    <table class='table' id='enabled'>
      <tbody>
        <% @enabled_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></td>
            <td><%= link_to "Disable", merchant_item_status_path(@merchant, item, status: :disabled), method: :patch, class:'badge badge-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>Disabled Items</h3>

    <table class='table' id='disabled'>
      <tbody>
        <% @disabled_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></td>
            <td><%= link_to "Enable", merchant_item_status_path(@merchant, item, status: :enabled), method: :patch, class:'badge badge-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='col'>

    <h3>Top Items</h3>
    
    <table class='table' id='top_5'>
      <tbody>
        <% @merchant.top_5_items.each do |item| %>
          <tr id="item-<%= item.id %>">
            <td><%= link_to "#{item.name}", merchant_item_path(@merchant, item) , class:'btn btn-link' %></td>
            <td>$<%= item.total_revenue %> in sales. Top selling date: <%= item.best_day %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
