<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <h1 class='text-center'>Little Esty Shop</h1>
      <% flash.each do |type, msg| %>
        <div <%= flash_class(type) %> role='alert', id='flash-message'>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
